html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 2px;
}


.red-text {
  color: red;
}

.cap-text {
  text-transform: uppercase;
}

.arrowdown {
  width: 30px;
  height: 30px;
  background-image: url(https://s3-us-west-1.amazonaws.com/kevin-portfolio-images/arrowdown.png);
  background-size: contain;
}

.arrowup {
  width: 30px;
  height: 30px;
  background-image: url(https://s3-us-west-1.amazonaws.com/kevin-portfolio-images/arrowup.png);
  background-size: contain;
}

.bounce {
  -moz-animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}

@-moz-keyframes bounce {
  0%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@media (max-width: 375px) {
  .arrowdown {
    width: 23px;
    height: 23px;
  }
  .arrowup {
    width: 23px;
    height: 23px;
  }
}

@media (max-width: 320px) {
  .arrowdown {
    width: 16px;
    height: 16px;
  }
  .arrowup {
    width: 16px;
    height: 16px;
  }
}

@media (min-height: 810px) {
  .arrowdown {
    width: 30px;
    height: 30px;
  }
  .arrowup {
    width: 30px;
    height: 30px;
  }
}

/* PAGE ONE // LANDING */ /* PAGE ONE // LANDING */ /* PAGE ONE // LANDING */ /* PAGE ONE // LANDING */

.landing {
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url('https://s3-us-west-1.amazonaws.com/kevin-portfolio-images/whitewood.png');
  min-height: 100%;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.landing--info {
  margin: 0 auto;
  text-align: center;
}

.landing--info img {
  padding: 10px 20px 5px;
}

.landing--socialmedia {
  text-align: center;
}

.landing--socialmedia h1 {
  font-size: 45px;
}

.landing--socialmedia h3 {
  font-size: 19px;
}

.landing--socialmedia a {
  margin: 12px auto;
  text-align: center;
}

.landing--socialmedia img {
  width: 100px;
  padding: 0 5px;
}

.socialmedia-button {
  display: block;
  width: 200px;
  margin-top: 10px !important;
}

.pg1arrow {
  position: absolute;
  bottom: 1.5%;
  left: 48%;
}

@media (min-width: 1281px) {
  .landing--info img {
    margin: 0 auto;
    max-width: 25%;
  }
  .linkedin, .github {
    opacity: 0.8;
    transition: opacity 1s;
  }

  .linkedin:hover, .github:hover {
    opacity: 1.0;
    transition: opacity 1s;
  }
}

@media (max-width: 1280px) {
  .landing--info img {
    margin: 0 auto;
    max-width: 40%;
  }
  .landing--socialmedia h1 {
    font-size: 30px;
  }
  .landing--socialmedia h3 {
    font-size: 30px;
  }
}

@media (max-width: 1028px) {
  .landing--info img {
    margin: 0 auto;
    max-width: 40%;
  }
  .landing--socialmedia h1 {
    font-size: 60px;
  }
  .landing--socialmedia h3 {
    font-size: 26px;
  }
  .socialmedia-button {
    font-size: 20px;
    width: 225px;
  }
}

@media (max-width: 768px) {
  .landing--info img {
    margin: 0 auto;
    max-width: 65%;
  }
  .landing--socialmedia h1 {
    font-size: 60px;
  }
  .landing--socialmedia h3 {
    font-size: 26px;
  }
  .socialmedia-button {
    font-size: 20px;
    width: 225px;
  }
}

@media (max-width: 410px) {
  .landing {
    padding: 40px 25px;
  }
}

@media (max-width: 375px) {
  .landing {
    padding: 35px 25px;
  }
}

@media (max-width: 360px) {
  .landing {
    padding: 25px;
  }
}

@media (max-width: 320px) {
  .landing {
    padding: 15px 25px;
  }
  .pg1arrow {
    position: absolute;
    bottom: 0%;
    left: 48%;
  }
}

@media (min-height: 810px) {
  .landing {
    padding: 95px 25px;
  }
}

@media only screen
  and (max-device-width: 823px)
  and (min-device-width: 737px)
  and (orientation: landscape) {
    .landing img {
      max-height: 100%;
    }
    .landing--socialmedia {
      margin-top: 28px;
    }
}

@media only screen
  and (max-device-width: 736px)
  and (min-device-width: 668px)
  and (orientation: landscape) {
    .landing {
      padding: 40px 25px;
    }
    .landing--socialmedia {
      margin-top: 25px;
    }
}

@media only screen
  and (max-device-width: 667px)
  and (min-device-width: 567px)
  and (orientation: landscape) {
    .landing--info img {
      padding: 0;
    }
    .landing--socialmedia {
      margin-top: 17px;
    }
}

@media only screen
  and (max-device-width: 568px)
  and (min-device-width: 415px)
  and (orientation: landscape) {
    .landing--info img {
      padding: 0;
    }
    .landing--socialmedia img {
      width: 80px;
    }
}

@media only screen
  and (max-device-height: 414px)
  and (orientation: landscape) {
    .landing--info {
      vertical-align: top;
      display: inline-block;
      width: 49%;
      height:100%;
    }
    .landing--socialmedia {
      display: inline-block;
      width: 49%;
      height: 100%;
    }
    .landing--info img {
      margin: 0 auto;
    }
}

/* .landing--socialmedia a {
  display: inline-block;
} */

/* .landing--info, .landing--socialmedia {
  position: absolute;
  width: 100%;
}

.landing--info {
  top: 18%;
  left: 65%;
  width: 35%;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Questrial', sans-serif;
}

.landing--socialmedia {
  top: 38%;
  left: 65%;
  width: 35%;
}

.landing--socialmedia .meoncup {
  display: block;
  opacity: 0.7;
  width: 50%;
  margin-left: 3%;
  margin: 0 auto;
}

.linkedin, .github {
  display: inline-block;
  width: 11%;
  opacity: 0.7;
  margin: 1%;
}

.linkedin:hover, .github:hover{
  opacity: 1;
}

.linkedin {
  margin-left: 14%;
}

.pg1arrow {
  position: absolute;
  bottom: 53%;
  left: 88%;
} */

/* @media only screen and (max-width: 1025px) {
  .landing {
    background-position: right;
  }

  .landing--info, .socialmedia, .landing--socialmedia {
    position: static;
    margin: 0 auto;
    width: 100%;
  }

  .landing--info {
    text-align: center;
    font-size: 3vw;
  }

  .landing--info h1 {
    padding-top: 30%;
    font-size: 8vw;
  }

  .meoncup {
    width: 35%;
    margin: 7% auto 0;
    text-align: center;
  }

  .landing--socialmedia {
    margin: 0 auto;
    text-align: center;
  }

  .linkedin, .github {
    margin: 0;
    opacity: 0.9;
  }

  .linkedin {
    margin-left: -2%;
  }

  .pg1arrow {
    bottom: 2%;
    left: 47%;
  }
} */

/* @media only screen and (max-width: 415px) {

  .landing, .projectimg, .techimg {
    background-attachment: scroll;
  }

  .landing--info {
    font-size: 4vw;
    letter-spacing: 5px;
  }
  .meoncup {
    width: 60%;
    opacity: 1;
    margin-bottom: 2%;
  }
  .linkedin, .github {
    width: 16%;
    opacity: 1;
    margin: 1%;
  }
  .projects {
    width: 95%;
    padding-top: 1%;
  }
  .pg2arrowup {
    bottom: -7.2%;
    left: 90%;
  }
  .pg2arrowdown {
    bottom: -100%;
    left: 90%;
  }
  .pg3arrowup {
    left: 90%;
    bottom: -107%;
  }
  .pg3contact {
    left: 80%;
    font-size: 4vw;
    padding: 3vw 4vw;
  }
  .maintech {
    font-size: 2.5em;
    opacity: 1;
  }
  .typewriter {
    display: none;
  }
} */

/* @media only screen and (max-width: 415px) {
  .landing, .projectimg, .techimg {
    background-attachment: scroll;
  }
  .landing {
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-image: url('https://s3-us-west-1.amazonaws.com/kevin-portfolio-images/whitewood.png');
  }
  .landing--info {
    font-size: 4vw;
    letter-spacing: 5px;
  }
  .meoncup {
    width: 60%;
    opacity: 1;
    margin-bottom: 2%;
  }
  .linkedin, .github {
    width: 16%;
    opacity: 1;
    margin: 1%;
  }
} */
/*
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .landing, .projectimg, .techimg {
      background-image: url('https://s3-us-west-1.amazonaws.com/kevin-portfolio-images/whitewood.png');
      background-attachment: fixed;
      opacity: 1;
    }
    .techimg {
      min-height: 214%;
    }
    .landing--info h1 {
      padding-top: 1%;
      font-size: 6vw;
    }
    .meoncup {
      width: 25%;
      margin: 2% auto 0;
    }
    .linkedin {
      margin-left: -2%;;
    }
    .github {
      margin-left: 14%;
    }
    .pg1arrow {
      left: 46%;
    }
} */

/* PAGE TWO // PROJECTS & TYPEWRITER */ /* PAGE TWO // PROJECTS & TYPEWRITER */

/* .projectimg {
  opacity: 0;
  background-position: top;
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
  background-image: url('https://s3-us-west-1.amazonaws.com/kevin-portfolio-images/plantjs.png');
  min-height: 100%;
  width: 100%;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.typewriter {
  position: relative;
  bottom: 59%;
  left: 23%;
  margin-bottom: -3%;
	font: bold 2.5vw Consolas, Monaco, monospace;
	border-right: .1em solid black;
	width: 17ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 3s steps(21, end), blink-caret .5s step-end infinite alternate;
}

.hidetypewriter {
  display: none;
  width: 50%;
  float: left;
}

.redDev {
  display: inline-block;
  color: #bf4133;
}

.projectTitle, .project1, .project2, .project3 {
  font-family: Consolas, Monaco, monospace;
}

.projects {
  text-align: center;
  width: 31%;
  float: right;
}

.projects h2 {
  font-size: 2vw;
  margin: 3% 0;
}

.projects img {
  max-width: 69%;
}

.pg2arrowdown {
  opacity: 1;
  left: 97.1%;
  bottom: -100%;
  position: absolute;
}

.pg2arrowup {
  opacity: 1;
  left: 97.1%;
  bottom: -6.2%;
  position: absolute;
} */

/* PAGE THREE // TECHNOLOGY */ /* PAGE THREE // TECHNOLOGY */ /* PAGE THREE // TECHNOLOGY */

/* .techimg {
  background-image: url('https://s3-us-west-1.amazonaws.com/kevin-portfolio-images/techimg.png');
  background-position: top;
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
  min-height: 100%;
  height: 1vh;
  position: relative;
  opacity: 0.8;
}

.maintech, .databases, .othertech {
  text-align: center;
  display: inline-block;
  float: left;
  opacity: 0;
  width: 33.33%;
  font-size: 2em;
  margin-top: 5%;
}

.maintech h2, .databases h2, .othertech h2 {
  margin: 0 auto;
  text-align: center;
  width: 23%;
  background-color: #e0e0e0;
  border-radius: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 0.7;
}

.mainsub {
  background: white;
  margin: 8% auto 0;
  border-radius: 15px;
  opacity: 0.7;
}

.mainsub:hover {
  opacity: 1;
}

.mainsub img {
  text-align: center;
  margin: 10% auto;
  width: 50%;
}

.databasessub {
  background: white;
  margin: 14% auto 0;
  border-radius: 15px;
  opacity: 0.7;
}

.databasessub:hover {
  opacity: 1;
}

.databases h2 {
  background: #ececec;
  width: 36%;
  opacity: 0.65;
}

.databasessub img {
  margin: 13% auto;
  text-align: center;
  width: 50%;
}

.othersub {
  background: white;
  margin: 8.5% auto;
  border-radius: 15px;
  opacity: 0.7;
  display: inline-block;
}

.othersub:hover {
  opacity: 1;
}

.othersub img {
  margin: 10% auto;
  text-align: center;
  width: 70%;
}

.pg3contact {
  left: 91.5%;
  top: 291.5%;
  position: absolute;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 1.5vw;
  background: #ff0000;
  padding: 1vw 2vw;
  text-decoration: none;
}

.pg3arrowup {
  left: 97.1%;
  bottom: -106.5%;
  position: absolute;
}

@media only screen and (max-width: 1370px) {
  .pg2arrowup {
    left: 94.5%;
  }
  .pg2arrowdown{
    left: 94.5%;
  }
  .pg3arrowup{
    left: 94.5%;
    bottom: -105.5%;
  }
} */

/* IPAD & IPAD PRO */
/* @media only screen and (max-width: 1025px) {
  .projectimg {
    background-position: center;
    background-image: url('https://s3-us-west-1.amazonaws.com/kevin-portfolio-images/woodcactus.png');
  }
  .typewriter {
    margin-bottom: -6%;
    bottom: 99%;
    left: 28%;
    font: bold 5vw Consolas, Monaco, monospace;
  }
  .projects {
    float: none;
    text-align: center;
    margin: 0 auto;
    padding-top: 8%;
    width: 65%;
  }
  .projects h2 {
    font-size: 5vw;
  }

  .pg2arrowdown {
    bottom: -99%;
    left: 93%;
  }
  .pg2arrowup {
    bottom: -5.2%;
    left: 93%;
  }

  .databases, .othertech {
    display: none;
  }
  .maintech {
    float:none;
    font-size: 3.5em;
    width: 100%;
  }
  .pg3arrowup {
    left: 93%;
  }
  .pg3contact {
    left: 81%;
    font-size: 3vw;
    padding: 3vw 4vw;
  }
} */
/* MOBILE */
/* @media only screen and (max-width: 415px) {
  .projects {
    width: 95%;
    padding-top: 1%;
  }
  .pg2arrowup {
    bottom: -7.2%;
    left: 90%;
  }
  .pg2arrowdown {
    bottom: -100%;
    left: 90%;
  }
  .pg3arrowup {
    left: 90%;
    bottom: -107%;
  }
  .pg3contact {
    left: 80%;
    font-size: 4vw;
    padding: 3vw 4vw;
  }
  .maintech {
    font-size: 2.5em;
    opacity: 1;
  }
  .typewriter {
    display: none;
  }
} */

/*  MOBILE LANDSCAPE*/
/* @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .typewriter {
      display: none;
    }
    .pg2arrowup {
      bottom: -15.2%;
    }
    .pg2arrowdown {
      bottom: -225%;
    }
    .maintech h2 {
      margin: 0;
      background-color: transparent;
      width: 100%;
      font-size: 0.75em;

    }
    .mainsub {
      opacity: 1;
    }
    .pg3arrowup {
      bottom: -263%;
    }
    .pg3contact {
      top: 529.5%;
    }
} */

/* SMALLER MOBILE */
/* @media only screen and (max-width: 375px) {
  .pg2arrowup {
    bottom: -7.8%;
    left: 89%;
  }
  .pg2arrowdown {
    left: 89%;
  }
} */
