html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 2px;
}


.red-text {
  color: red;
}

.cap-text {
  text-transform: uppercase;
}

.arrowdown {
  width: 30px;
  height: 30px;
  background-image: url(https://s3-us-west-1.amazonaws.com/kevin-portfolio-images/arrowdown.png);
  background-size: contain;
}

.arrowup {
  width: 30px;
  height: 30px;
  background-image: url(https://s3-us-west-1.amazonaws.com/kevin-portfolio-images/arrowup.png);
  background-size: contain;
}

.bounce {
  -moz-animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}

@-moz-keyframes bounce {
  0%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@media (max-width: 375px) {
  .arrowdown {
    width: 23px;
    height: 23px;
  }
  .arrowup {
    width: 23px;
    height: 23px;
  }
}

@media (max-width: 320px) {
  .arrowdown {
    width: 16px;
    height: 16px;
  }
  .arrowup {
    width: 16px;
    height: 16px;
  }
}

@media (min-height: 810px) {
  .arrowdown {
    width: 30px;
    height: 30px;
  }
  .arrowup {
    width: 30px;
    height: 30px;
  }
}

/* PAGE ONE // LANDING */ /* PAGE ONE // LANDING */ /* PAGE ONE // LANDING */ /* PAGE ONE // LANDING */

.landing {
  /* position: relative; */
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url('https://s3-us-west-1.amazonaws.com/kevin-portfolio-images/whitewood.png');
  min-height: 100%;
  /* width: 100%;
  height: 100%; */
  padding: 25px;
}

.landing--info {
  margin: 0 auto;
  text-align: center;
}

.landing--info img {
  padding: 10px 20px 5px;
  max-width: 100%;
}

.landing--socialmedia {
  text-align: center;
}

.landing--socialmedia h1 {
  font-size: 45px;
}

.landing--socialmedia h3 {
  font-size: 19px;
}

.landing--socialmedia a {
  margin: 12px auto;
  text-align: center;
}

.landing--socialmedia img {
  width: 100px;
  padding: 0 5px;
}

.socialmedia-button {
  display: block;
  width: 200px;
  margin-top: 10px !important;
}

.socialmedia-button:nth-of-type(1) {
  margin-top: 20px !important;
}

.socialmedia-button:nth-of-type(2) {
  margin-bottom: 20px !important;
}

.pg1arrow {
  position: absolute;
  bottom: 1.5%;
  left: 48%;
}

@media (min-width: 768px) {
  .landing--info img {
    max-width: 25%;
  }
}

@media only screen
  and (max-height: 414px) {
    .landing--info img {
      max-width: 40%;
    }
}

/* PAGE TWO // PROJECTS */ /* PAGE TWO // PROJECTS */ /* PAGE TWO // PROJECTS */

.projects {
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-color: white;
  /* background-image: url(https://s3-us-west-1.amazonaws.com/kevin-portfolio-images/woodcactus.png); */
  min-height: 100%;
  padding: 25px;
}

.projects h1 {
  text-align: center;
}

.project {
  text-align: center;
  padding: 50px 0;
}

.project h3 {
  border-bottom: 1px solid black;
}

.project span {
  color: red;
}

.project img {
  border: 3px solid grey;
  border-radius: 4px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.project a {
  width: 300px;
  padding: 15px;
  border-radius: 0;
}

@media only screen
  and (max-width: 414px) {
    .project {
      padding: 35px 10px;
    }
}

/* PAGE THREE // TECHNOLOGIES */ /* PAGE THREE // TECHNOLOGIES */ /* PAGE THREE // TECHNOLOGIES */

.technologies {
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-image: url(https://s3-us-west-1.amazonaws.com/kevin-portfolio-images/woodcactus.png);
  min-height: 100%;
  padding: 25px;
}
